header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 150px;
  font-family: Bungee, sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
}

.profileimg {
  display: flex;
  justify-content: center;
}

/* Header Styles for a Desktop View */
@media (min-width: 1024px) {
  header {
    flex-direction: row;
    margin-left: 55px;
    width: 30%;
    height: 30%;
    justify-content: space-evenly;
    align-content:flex-start;
    flex-wrap: nowrap;
    align-items:flex-start;
   }

  .user {
    background-color: 	#cd9600;
    background-image: url("https://www.transparenttextures.com/patterns/little-triangles.png");
    width: 95%;
    height: 95%;
    margin-top: 10px;
  }

  .profileimg {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .username {
    margin-top: 0;
    margin-bottom: 20px;
  }
};


