nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%
}

span {
  display: flex;
  font-family: Bungee, sans-serif;

}

span.logo {
  display: flex;
  font-size: 60px;
}

.calltoaction {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#arrowicon {
  color: #FF000f;
  display: flex;
  justify-content: center;
}