container {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  width: 99%;
}

.tweetButton {
  display: flex;
  justify-content: space-between;
  flex-wrap: inherit;
}

#error {
  display: flex;
  justify-content: center;
  color: red;
  position: relative;
  border: solid;
  border-width: thick;
  }

#tweet-text {
  width: 100%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: black;
  color: black;
  background-color: #f4f1ec;
  outline: none;
  font-size: 20px;
}

button {
  background-color: #4056A1;
  color: #ffff;
  font-family: bungee, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.counter {
  display: flex;
  align-self: flex-end;
  font-family: Bungee, sans-serif;
  font-size: 20px;
}

.charsNeg {
  color: red;
}


@media (min-width: 1024px) {
.new-tweet {
  width: 68vw;
  justify-content: center;
  margin-left: 15px;
  }
}